<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Successful Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="head">
    <a href="/logout">Logout</a>
  </header>
  <div class="main_body2">
    <h1>Success! Welcome, {{user.first_name}}</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
  </div>
  <footer>
    <a href="/wishes">Proceed to Profile</a>
  </footer>
</body>
</html>